
/*TAG SELECTOR*/
body {
    background-color: #CDF0EA;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
img {
    height: 200px;
    
}
.sqr-img {
        width: 340px; 
        height: 400px; 
}

h1 {
    color: #66BFBF;
}

h3 {
    color: #66BFBF;
}

/*CLASS SELECTOR*/
/*
.className{what you what to change}
*/
